
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>

</head>
<body class="bg-zinc-100">
    <div class="py-10 px-6">

        <section class="w-full max-w-screen-md border border-slate-200 bg-white p-8 mx-auto space-y-3">
            <p class="text-3xl font-bold text-center text-zinc-800">
                Congratulations !! 🎉
            </p>
        
            <p class="text-base font-medium text-center text-zinc-500">
                The Token has been Update successfully. You Can Close This Page
            </p>
        
        </section>
    </div>
    <%- include('partials/footer') %>
</body>
</html>

